<template>
  <v-container>
    <div class="input-group d-flex justify-content-center align-items-center">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle menu-entry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prayer</button>
        <div class="dropdown-menu">
          <div v-for="(prayer, index) in prayers" :key="prayer">
            <button type="button" class="dropdown-item" @click="selectPrayer(index)">{{ prayer }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="GraphStyle">
      <line-chart :chart-data="datacollection" :styles="graphStyles()"> </line-chart>
    </div>
  </v-container>
</template>

<script>
import LineChart from './LineChart.js'

export default {
  components: {
    LineChart
  },
  data () {
    return {
      datacollection: null,
      prayers: null,
      selectedPrayerIndex: 0,
      selectedPrayer: "Pater Noster",
      height: 300,
      width: 300,
    }
  },
  watch: {
    '$store.state.UserData': function() {
      this.updatePrayerList();
    }

  },
  mounted () {
    this.updatePrayerList();
  },
  methods: {
    fillData () {
      window.backend.getCurrentScores("All", this.selectedPrayer, "All").then(result => {
        var localLabels = [];
        var localData = [];
        result.forEach(score => {
          localLabels.push(score[2]); 
          localData.push(score[1].replace('%', '')); 
        });
        this.datacollection = {
          labels: localLabels,
          datasets: [
            {
              label: this.selectedPrayer,
              backgroundColor: 'blue',
              data: localData
            }]
        }
      });
    },
    updatePrayerList () {
      window.backend.getListOfPrayersWithScores().then(result => {
        this.prayers = result;
        this.selectedPrayer = this.prayers[this.selectedPrayerIndex];
        this.fillData()
      });

    },
    graphStyles () {
      window.backend.getSizeOfGraph().then(graphSize => {
        if (graphSize.length > 0) {
          this.height = graphSize[0];
          this.width = graphSize[1];
        }
      });
      return {
        height: `${this.height}px`,
        width: `${this.width}px`,
        position: `relative`
      }
    },
    selectPrayer: function(index) {
      if (index < this.prayers.length) {
        this.selectedPrayer = this.prayers[index];
        this.selectedPrayerIndex = index;
        this.fillData();
      }
    },
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    }
  }
}
</script>

<style scoped>
.GraphStyle {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  
}
.menu-entry {
  font-size: 2vw;
  color: white;
}
</style>
