<template>
  <form>
    <div class="form-vertical align-items-center">
      <div class="form-inline">
        <div class="form-group">
          <label for="prayerDirectory">Prayer Directory</label>
          <input
            type="text"
            class="mx-sm-1"
            v-model="prayerDirectory"
            @input="savePrayerDirectory()"
            id="prayerDirectoryInput"
            :placeholder="prayerDirectory"
          />
        </div>
        <div class="form-group">
          <label for="usersDirectory">Users Directory</label>
          <input
            type="text"
            class="mx-sm-1"
            v-model="usersDirectory"
            @input="saveUsersDirectory()"
            id="usersDirectoryInput"
            :placeholder="usersDirectory"
          />
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label for="soundDirectory">Sounds Directory</label>
          <input
            type="text"
            class="mx-sm-1"
            v-model="soundDirectory"
            @input="saveSoundDirectory()"
            id="soundDirectoryInput"
            :placeholder="soundDirectory"
          />
        </div>
        <div class="form-group">
          <label for="helpFiles">Help Files Directory</label>
          <input
            type="text"
            class="mx-sm-1"
            v-model="helpFiles"
            @input="saveHelpFiles()"
            id="helpFilesInput"
            :placeholder="helpFiles"
          />
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label for="currentUser">Default User</label><br/>
          <select v-model="currentUser" @change="selectUser" class="mx-sm-1 combo-boxes">
            <option v-for="user in users" :key="user" :value="user">
              {{ user }}
            </option>
          </select>
        </div>
         <div class="form-group">
          <label for="selectedNumberOfOptions">Number Of Options</label>
          <select
            v-model="selectedNumberOfOptions"
            @change="selectOption"
            class="mx-sm-1 combo-boxes number-of-options"
          >
            <option
              v-for="option in numberOfOptions"
              :key="option"
              :value="option"
            >
              {{ option }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="selectedGroup">Default Group</label><br />
          <select v-model="selectedGroup" @change="selectGroup" class="combo-boxes mx-sm-1">
            <option v-for="group in groups" :key="group" :value="group">
              {{ group }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="selectedPrayer">Default Prayer</label><br />
          <select v-model="selectedPrayer" @change="selectPrayer" class="combo-boxes mx-sm-1 selected-prayer"> 
            <option v-for="prayer in prayers" :key="prayer" :value="prayer">
              {{ prayer }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group alternate-users">
        <label class="alternate-users" for="alternateUsers">Alternate Users</label>
        <input
          type="text"
          class="mx-sm-1"
          v-model="alternateUsers"
          @input="saveAlternateUsers()"
          id="alternateUsersInput"
          :placeholder="alternateUsers"
        />
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: "Configuration",
  data() {
    return {
      prayerDirectory: "prayerDirectory",
      usersDirectory: "usersDirectory",
      numberOfOptions: ["3", "4", "5", "6", "7", "8", "9"],
      selectedNumberOfOptions: "5",
      helpFiles: "helpFiles",
      selectedGroup: "All",
      selectedPrayer: "Signum Crucis",
      soundDirectory: "soundDirectory",
      alternateUsers: null,
      groups: null,
      currentUser: "DEFAULT",
      prayers: null
    };
  },
  methods: {
    listOfGroups: function() {
      window.backend.getListOfGroups().then(result => {
        this.groups = result;
      });
    },

    listOfPrayers: function(group) {
      window.backend.getListOfPrayers(group).then(result => {
        this.prayers = result;
        if ( this.prayers.indexOf(this.selectedPrayer) < 0) {
          if (this.prayers.length > 0) {
               this.selectedPrayer = this.prayers[0]
          }
        } 
      });
    },
    selectUser: function() {
      window.backend.SelectUser(this.currentUser);
      window.backend.SetDefaultUserForConfig(this.currentUser);
    },
    listOfUsers: function() {
      window.backend.GetListOfUsers().then(result => {
        this.users = result;
        this.defaultUser();
      });
    },
    selectGroup: function() {
      this.listOfPrayers(this.selectedGroup);
      this.SetGroupForConfig(this.selectedGroup, this.selectedPrayer);
    },

    selectOption: function() {
      this.saveNumberOfOptions(this.selectedNumberOfOptions);
    },

    selectPrayer: function() {
      window.backend.SetPrayerForConfig(this.selectedPrayer);
    },

    setGroup: function(group, prayer) {
      window.backend.SetGroupForConfig(group, prayer);
    },

    savePrayerDirectory: function() {
      window.backend.SetPrayerDirectoryForConfig(this.prayerDirectory);
    },

    saveUsersDirectory: function() {
      window.backend.SetUsersDirectoryForConfig(this.usersDirectory);
    },

    saveHelpFiles: function() {
      window.backend.SetHelpFilesForConfig(this.helpFiles);
    },

    saveSoundDirectory: function() {
      window.backend.SetSoundDirectoryForConfig(this.soundDirectory);
    },

    saveNumberOfOptions: function() {
      window.backend.SetNumberOfOptionsForConfig(this.selectedNumberOfOptions);
    },

    saveAlternateUsers: function() {
      window.backend.SetAlternateUsers(this.alternateUsers);
    },

    getPrayerDirectory: function() {
      window.backend.GetPrayerDirectory().then(result => {
        this.prayerDirectory = result;
      });
    },

    getSoundDirectory: function() {
      window.backend.GetSoundDirectory().then(result => {
        this.soundDirectory = result;
      });
    },

    getDefaultPrayer: function() {
      window.backend.GetDefaultPrayer().then(result => {
        this.selectedPrayer = result;
      });
    },

    getDefaultGroup: function() {
      window.backend.GetDefaultGroup().then(result => {
        this.selectedGroup = result;
        this.listOfPrayers(this.selectedGroup);
      });
    },

    getHelpDirectory: function() {
      window.backend.GetHelpDirectory().then(result => {
        this.helpFiles = result;
      });
    },

    getUsersDirectory: function() {
      window.backend.GetUsersDirectory().then(result => {
        this.usersDirectory = result;
      });
    },

    getNumberOfOptions: function() {
      window.backend.GetNumberOfOptions().then(result => {
        this.selectedNumberOfOptions = result;
      });
    },
    
    getAlternateUsers: function() {
      window.backend.GetAlternateUsers().then(result => {
        this.alternateUsers = result;
      });
    },
  defaultUser: function() {
      window.backend.GetDefaultUser().then(result => {
          this.currentUser = result;
     });
    },
  },
  mounted() {
    this.listOfGroups();
    this.getDefaultGroup();
    this.getPrayerDirectory();
    this.getSoundDirectory();
    this.getHelpDirectory();
    this.getUsersDirectory();
    this.getNumberOfOptions();
    this.getAlternateUsers();
    this.getDefaultPrayer();
    this.listOfUsers();
    this.defaultUser();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mx-sm-1 {
  height: 5%;
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: grey;
  margin: 10px;
  border-color: grey;
}

.form-group {
  width: 50%;
}

.combo-boxes {
  width: 30%;
  height: 5%;
  border-radius: 10px;
  margin: 10px;
  background: transparent;
}

.alternate-users {
  width: 100%;

}
.number-of-options {
  width: 10%;
}

.selected_prayer {
  width: 70%;
}

select option {
  background-color: grey;
}

</style>

