<template>
  <v-container>
    <h1>{{ Version }}</h1>
    <div class="input-group mb-3 prayer-choices d-flex justify-content-center align-items-center">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle menu-entry" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help Options</button>
        <div class="dropdown-menu">
          <div v-for="(helpFile, index) in helpFiles" :key="helpFile">
            <button type="button" class="dropdown-item" @click="selectHelpFile(index)">{{ helpFile }}</button>
          </div>
        </div>
      </div>
    </div>
      <div>
        <video :key="video" :width="movieWidth" :height="movieHeight" auto controls :src="video"></video>
      </div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      video: "",
      Version: "",
      helpFiles: [],
      movieWidth: "1000",
      movieHeight: "800"
    }
  },
  methods: {
    selectHelpFile: function(index) {
      if (this.helpFiles.length > index) {
        window.backend.GetHelpFileName(this.helpFiles[index]).then(result => {
          this.video = "http://localhost:5999/" + result;
          });
        }
    }, 
    getVersion() {
      window.backend.getAbout().then(result => {
       this.Version = result; 
      });
    }
  },
  mounted() {
    window.backend.GetHelpFileNames().then(result => {
      this.helpFiles = result;
      this.selectHelpFile(0);
    });
    window.backend.GetSizeOfMovie().then(size => {
      if (size.length > 1) {
        this.movieWidth = size[0];
        this.movieHeight = size[1];
      }
    });
    this.getVersion();
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menu-entry {
  font-size: 2vw;
  color: white;
}
</style>
