<template>
  <v-container>
    <div
      class="input-group mb-3 prayer-choices d-flex justify-content-center align-items-center"
    >
      <div class="input-group-prepend">
        <button
          class="btn btn-outline-secondary dropdown-toggle menu-entry"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          User
        </button>
        <div class="dropdown-menu">
          <div v-for="(user, index) in users" :key="user">
            <button
              type="button"
              class="dropdown-item"
              @click="selectUser(index)"
            >
              {{ user }}
            </button>
          </div>
        </div>
      </div>
      <div class="input-group-prepend">
        <button
          class="btn btn-outline-secondary dropdown-toggle menu-entry"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Group
        </button>
        <div class="dropdown-menu">
          <div v-for="(group, index) in groups" :key="group">
            <button
              type="button"
              class="dropdown-item"
              @click="selectGroup(index)"
            >
              {{ group }}
            </button>
          </div>
        </div>
      </div>
      <div class="input-group-prepend">
        <button
          class="btn btn-outline-secondary dropdown-toggle menu-entry"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Prayer
        </button>
        <div class="dropdown-menu">
          <div v-for="(prayer, index) in prayers" :key="prayer - $index">
            <button
              type="button"
              class="dropdown-item"
              @click="selectPrayer(index)"
            >
              {{ prayer }}
            </button>
          </div>
        </div>
      </div>
      <div class="input-group-prepend">
        <button
          class="btn btn-outline-secondary dropdown-toggle menu-entry"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Language
        </button>
        <div class="dropdown-menu">
          <div v-for="(language, index) in languages" :key="language">
            <button
              type="button"
              class="dropdown-item"
              @click="selectLanguage(index)"
            >
              {{ language }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <h1>{{ selectedPrayer }}</h1>
    <h2>{{ selectedGroup }}</h2>
    <h3>Current User: {{ currentUser }}</h3>
    <div class="btn-group prayer-display" role="group">
      <div v-for="(word, index) in completedPrayer" :key="word - $index">
        <button
          type="button"
          class="btn btn-primary display-button"
          v-bind:style="wordStyle(index)"
          @click="playWord(index)"
        >
          {{ word }}
        </button>
      </div>
    </div>
    <div class="btn-group" role="group">
      <div v-for="(option, index) in options" :key="option - $index">
        <button
          type="button"
          class="btn btn-secondary rounded operation-button"
          @click="checkAnswer(index)"
        >
          {{ option }}
        </button>
      </div>
    </div>
    <br />
    <br />
    <button
      type="button"
      class="`btn btn-primary operation-button"
      @click="startQuiz"
    >
      {{ quizScore }}
    </button>
    <button
      type="button"
      class="`btn btn-primary operation-button"
      @click="showPrayer"
    >
      Show Prayer
    </button>
    <button
      type="button"
      class="`btn btn-primary operation-button"
      @click="readPrayer"
    >
      Read Prayer
    </button>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      quizScore: "Start Quiz",
      options: [],
      groups: [],
      selectedGroup: "All",
      selectedGroupIndex: 0,
      prayers: [],
      selectedPrayer: "Pater Noster",
      selectedPrayerIndex: 0,
      languages: ["English", "Latin"],
      completedPrayer: [],
      prayerDisplayed: false,
      lastBadResults: [],
      reportedVersion: "",
      currentUser: "DEFAULT",
      users: []
    };
  },

  methods: {
    wordStyle: function(index) {
      var newStyle = {};
      const redChoices = [
        "#B0C4DE",
        "#C493A7",
        "#CE525D",
        "#DB3138",
        "#E22125",
        "#FF0000"
      ];
      if (this.lastBadResults.length > index) {
        const badResult =
          this.lastBadResults[index] < 5 ? this.lastBadResults[index] : 5;
        const redChoice = badResult > 0 ? redChoices[badResult] : redChoices[0];
        newStyle = badResult > 0 ? { color: redChoice } : {};
      }
      return newStyle;
    },
  listOfPrayers: function(group) {
      window.backend.getListOfPrayers(group).then(result => {
        this.prayers = result;
        this.selectedPrayerIndex = this.prayers.indexOf(this.selectedPrayer)
        if ( this.selectedPrayerIndex < 1) {
          if (this.prayers.length > 0) {
               this.selectedPrayer = this.prayers[0]
               this.selectedPrayerIndex = 0
          }
        } 
      });
    },
  getAbout: function() {
      window.backend.getAbout().then(result => {
        this.versionText = result;
      });
      return this.versionText;
    },
    getDefaultGroup: function() {
      window.backend.GetDefaultGroup().then(result => {
        this.selectedGroup = result;
        this.listOfPrayers(this.selectedGroup);
      });
    },

    getDefaultPrayer: function() {
      window.backend.GetDefaultPrayer().then(result => {
        this.selectedPrayer = result;
      });
    },

    startQuiz: function() {
      if (this.quizScore === "Start Quiz") {
        window.backend.startQuiz(this.selectedPrayer).then(result => {
          this.options = result;
        });
        this.quizScore = "0%";
        this.completedPrayer = [];
        this.prayerDisplayed = false;
      } else {
        window.backend
          .CreateScore(this.selectedPrayer, this.quizScore)
          .then(this.recordScore());
        this.quizScore = "Start Quiz";
        this.options = [];
        this.completedPrayer = [];
      }
    },
    recordScore: function() {
      window.backend.getCurrentScores().then(result => {
        var localData = [];
        result.forEach(score => {
          localData.push({
            Prayer: score[0],
            Score: score[1],
            DateField: score[2]
          });
        });
        this.$store.commit("ChangeUserData", localData);
      });
    },
    getScore: function() {
      if (this.quizScore !== "Start Quiz") {
        window.backend.getScore().then(result => {
          this.quizScore = result;
          return this.quizScore;
        });
      } else {
        return "Start Quiz";
      }
    },
    getCurrentProgress: function() {
      window.backend.getCurrentProgressOnQuiz().then(result => {
        this.completedPrayer = result;
      });
    },
    checkAnswer: function(optionIndex) {
      if (optionIndex < this.options.length) {
        window.backend.checkAnswer(this.options[optionIndex]).then(result => {
          this.options = result;
          this.getScore();
          this.getCurrentProgress();
        });
        window.backend.getWrongAnswers().then(result => {
          this.lastBadResults = result;
        });
      }
    },
    showPrayer: function() {
      window.backend.RetrievePrayer(this.selectedPrayer).then(result => {
        this.quizScore = "Start Quiz";
        this.completedPrayer = result;
        this.lastBadResults = [];
        this.options = [];
        this.prayerDisplayed = true;
      });
    },

    readPrayer: function() {
      window.backend.playPrayer(this.selectedPrayer);
    },
    selectLanguage: function(index) {
      if (index < this.languages.length) {
        window.backend.setLanguage(this.languages[index]);
        window.backend.getListOfPrayers(this.selectedGroup).then(result => {
          this.prayers = result;
          if (this.prayerDisplayed) {
            this.selectPrayer(this.selectedPrayerIndex);
            this.showPrayer();
          }
        });
      }
    },

    selectUser: function(index) {
      if (this.users.length > index) {
        this.currentUser = this.users[index];
      } else {
        this.currentUser = "DEFAULT";
      }
      window.backend.SelectUser(this.currentUser);
      window.backend.SetDefaultUserForConfig(this.currentUser);
    },
    listOfGroups: function() {
      window.backend.getListOfGroups().then(result => {
        this.groups = result;
      });
    },
    selectGroup: function(index) {
      if (index < this.groups.length) {
        this.selectedGroup = this.groups[index];
        this.selectedGroupIndex = index;
        window.backend.getListOfPrayers(this.selectedGroup).then(result => {
          this.prayers = result;
        });
        this.setGroup(this.selectedGroup);
      }
    },
    setGroup: function(group) {
      window.backend.SetGroupForConfig(group);
    },
    listOfUsers: function() {
      window.backend.GetListOfUsers().then(result => {
        this.users = result;
        this.defaultUser();
      });
    },

    selectPrayer: function(index) {
      if (index < this.prayers.length) {
        this.selectedPrayer = this.prayers[index];
        this.selectedPrayerIndex = index;
        if (this.prayerDisplayed) this.showPrayer();
      }
      window.backend.SetPrayerForConfig(this.selectedPrayer);
    },

    playWord: function(index) {
      if (index < this.completedPrayer.length) {
        window.backend.PlayWord(this.completedPrayer[index]);
      }
    },
    defaultUser: function() {
      window.backend.GetDefaultUser().then(result => {
        this.currentUser = result;
      });
    },
    checkForUpdate: function() {
          window.backend.GetNextUpdateVersion().then(version => {
               if (version != "NO UPDATE") { window.backend.LinuxDistroType().then(distroType => {
                    if (distroType != "arch") {
                         this.$confirm("Version " + version + " if you would like to download the installer press ok", "Upgrade Available", 'info').then(() => {
                              window.backend.DownloadInstaller().then(destinationFile => {
                                   this.$alert("File Location: " + destinationFile, "File Downloaded", 'info');
                              });
                         });
                    } else  {
                         this.$alert("New version " + version + " available execute -- yay -Syu --- on command line to upgrade.", "Upgrade Available", 'info');
                    }
                }); 
               }
          });
     },
  },
  mounted() {
    this.listOfGroups();
    window.backend.getListOfPrayers(this.selectedGroup).then(result => {
      this.prayers = result;
      if (this.prayers.indexOf(this.selectedPrayer) > 0) {
        this.selectedPrayer = this.prayers[this.selectedPrayerIndex];
      }
    });
    this.versionText = this.getAbout();
    this.getDefaultPrayer();
    this.getDefaultGroup();
    this.listOfUsers();
    this.checkForUpdate();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-size: 3.5vw;
}
h2 {
  font-size: 2.5vw;
  color: aquamarine;
}
.prayer-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px;

  justify-content: center;
}
.display-button {
  color: lightsteelblue;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none;
  background: none;
  font-size: 1.5vw;
}
.operation-button {
  font-size: 2vw;
  min-height: 20px;
}
.menu-entry {
  font-size: 2vw;
}
</style>

