<template>
  <v-container>
    <div class="input-group mb-3 prayer-choices d-flex justify-content-center align-items-center">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle menu-entry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Group</button>
        <div class="dropdown-menu">
          <div v-for="(group, index) in groups" :key="group">
            <button type="button" class="dropdown-item" @click="selectGroup(index)">{{ group }}</button>
          </div>
        </div>
      </div>
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle menu-entry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prayer</button>
        <div class="dropdown-menu">
          <div v-for="(prayer, index) in prayers" :key="prayer-$index">
            <button type="button" class="dropdown-item" @click="selectPrayer(index)">{{ prayer }}</button>
          </div>
        </div>
      </div>
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle menu-entry" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DateGrouping</button>
        <div class="dropdown-menu">
          <div v-for="(dateOption, index) in dateOptions" :key="dateOption">
            <button type="button" class="dropdown-item" @click="selectDateOption(index)">{{ dateOption }}</button>
          </div>
        </div>
      </div>
    </div>
    <vuetable ref="userScores"
      :fields="fields" 
      :api-mode=false 
      :per-page="perPage"
      :data-manager="dataManager"
      pagination-path="pagination"
      @userScores:pagination-data="onPaginationData"
    >
    </vuetable>
    <div style="padding-top: 10px">
      <vuetable-pagination ref="pagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
    <div>
     <button type="button" class="`btn btn-primary operation-button" @click="clearScores">Clear Scores</button>
    </div>
  </v-container>
</template>

<script>
import Vuetable from "vuetable-2";
import VuetablePagination from './VueTableBootstrap.vue';
import CssConfig from './VueTableBootstrapStyles.js'
import _ from "lodash";

export default {
  components: {
    Vuetable,
    VuetablePagination
  },
  data () {
    return {
      groups: [],
      users: [], 
      prayers: [],
      dateOptions: ["All", "Average", "Last"],
      selectedGroup: "All",
      selectedGroupIndex: 0,
      selectedPrayer: "All",
      selectedPrayerIndex: 0,
      selectedDateOptionIndex: 0,
      selectedDateOption: "All",
      css: CssConfig,
      perPage: 5,
      fields: [ { name: 'Prayer', 
        sortField: 'Prayer',
      },
        'Score',
        { name: 'DateField',
          sortField: 'DateField',
          title: 'Date and Time',
        },
      ],
    }
  },
  watch: {
    '$store.state.UserData': function() {
      this.$refs.userScores.refresh();
    }
  },

  mounted() {
    this.loadCurrentScores(); 
    this.listOfGroups();
    window.backend.getListOfPrayersForExistingScores(this.selectedGroup).then(result => {
      this.prayers = result;
      this.selectedPrayer = this.prayers[this.selectedPrayerIndex];
    });
  },
  methods: {
    loadCurrentScores() {
      window.backend.getCurrentScores(this.selectedGroup, 
                                      this.selectedPrayer, 
                                      this.selectedDateOption).then(result => {
        var localData = [];
        result.forEach(score => {
          localData.push( {Prayer: score[0], Score: score[1], DateField: score[2] })
        });
        this.$store.commit('ChangeUserData', localData);
        if (localData == []) {
          this.data = [];
        }
        this.$refs.userScores.refresh();
      });
    },
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
    },
    clearScores() {
      window.backend.ClearResults();
      this.loadCurrentScores(); 
    },
    onChangePage(page) {
      this.$refs.userScores.changePage(page);
    },
    dataManager(sortOrder, pagination) {
      if (this.$store.getters.UserData.length < 1) return;

      let local = this.$store.getters.UserData;
      // sortOrder can be empty, so we have to check for that as well
      if (sortOrder.length > 0) {
        console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
        local = _.orderBy(
                          local,
                          sortOrder[0].sortField,
                          sortOrder[0].direction
        );
      }

      pagination = this.$refs.userScores.makePagination(
                                                        local.length,
                                                        this.perPage
      );
      let from = pagination.from - 1;
      let to = from + this.perPage;

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      };
    },
    onActionClicked(action, data) {
      console.log("slot actions: on-click", data.name);
    },
    listOfGroups: function() {
      window.backend.getListOfGroupsForExistingScores().then(result => {
        this.groups = result;
      });
    },
    selectGroup: function(index) {
      if (index < this.groups.length) {
        this.selectedGroup = this.groups[index];
        this.selectedGroupIndex = index;
        window.backend.getListOfPrayersForExistingScores(this.selectedGroup).then(result => {
          this.prayers = result;
        });
        this.loadCurrentScores();
      }
    },
    selectPrayer: function(index) {
      if (index < this.prayers.length) {
        this.selectedPrayer = this.prayers[index];
        this.selectedPrayerIndex = index;
        this.loadCurrentScores();
      }
    },
    selectDateOption: function(index) {
      if (index < this.dateOptions.length) {
        this.selectedDateOption = this.dateOptions[index];
        this.selectedDateOptionIndex = index;
        this.loadCurrentScores();
      }
    },
  }
};

</script>

<style scoped>
.vuetable {
  color: lightsteelblue;
}
.menu-entry {
  font-size: 2vw;
  color: white;
}

</style>
