<template>
  <div id="app">
  <vue-tabs class="tabEntry">
     <v-tab title="Prayer">
          <PrayerViewer/>
     </v-tab>
    <v-tab title="User Scores" class="UserScores">
     <vue-tabs class="UserScoresSpreadsheet" >
          <v-tab title="Scores">
               <UserScores/>
          </v-tab>
          <v-tab title="Chart">
              <Chart/>
          </v-tab>
  </vue-tabs>
    </v-tab>
     <v-tab title="Configuration">
          <Configuration/>  
    </v-tab>
     <v-tab title="Help">
          <Help/>  
    </v-tab>
    </vue-tabs>
  </div>
</template>

<script>
import "./assets/css/main.css";
import "./assets/css/bootstrap.min.css";
import {VueTabs, VTab} from 'vue-nav-tabs'
import 'vue-nav-tabs/themes/vue-tabs.css'
import PrayerViewer from "./components/PrayerViewer.vue";
import UserScores from "./components/UserScores.vue";
import Help from "./components/Help.vue";
import Chart from "./components/Chart.vue";
import Configuration from "./components/Configuration.vue";

export default {
  name: "app",
  components: {
    PrayerViewer,
    UserScores,
    Chart,
    Help,
    Configuration,
    VueTabs,
    VTab,
  }
};
</script>
<style scoped>
#app {
  background-color: #333333;
}

.tabEntry {
  font-size: 2vw;
}
</style>
