#app {
  font-family: "CormorantUpright", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #eee;
  margin-top: 10px;
}

html {
  height: 100%;
  overflow: hidden;
  background-color: #333333;
  background-size: 200px 200px;
}


/* roboto-regular - latin */
@font-face {
  font-family: "CormorantUpright";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CormorantUpright/CormorantUpright-Regular.ttf"); /* IE9 Compat Modes */
  src: local("CormorantUpright"), local("CormorantUpright-Regular"),
 }
